<div class="upper-logo-block clearfix">
    <h1>
        {% if requestUrl == "/" %}
            {{ 'euro-tehnika.com.ua' | trans }}
        {% else %}
            <a href="/">{{ 'euro-tehnika.com.ua' | trans }}</a>
        {% endif %}
    </h1>
    <div class="upper-phone-list">
        <a href="{{ 'ссылка на телефон №3' | trans }}"><span
                    class="glyphicon glyphicon-earphone"></span>{{ 'телефон №3' | trans }}</a>
        <a href="{{ 'ссылка на телефон №4' | trans }}"><span
                    class="glyphicon glyphicon-earphone"></span>{{ 'телефон №4' | trans }}</a>
    </div>
</div>